@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}


.h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}


.h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

.h4 {
    font-size: 20px;
}

.h6 {
    font-weight: 700;
    font-size: 12px;

}


.p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

#header a img {
    height: 12vh;
    width: 6vw;
    margin-left: 2vw;
    /* border-radius: 100vw; */
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#header {
    background: #E3E6F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: px px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    /* argin-left: 40vw; */
    display: flex;
    list-style-type: none;
    /* margin-top: 6.5vh; */
    align-items: center;
    /* margin-bottom: 6.5vh; */
    justify-content: center;
}


#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;

    transition: 0.3s ease;
}

#close {
    display: none;
}

/* #navbar li a:hover,
#navbar li a.hover {
    color: #088178;
    text-underline-position: below; 
    
} */
#navbar li a:hover,
#navbar li a.raj {
    color: #088178;

}

#navbar li a.raj::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: none;
}

#shiv {
    display: flex;
    background: #E3E6F3;

}


.rightcon img {
    height: 84vh;
    width: 40vw;
    margin-left: 10vw;
}


.leftcon {
    justify-content: center;
    margin-top: 4vh;
    text-align: left;
    margin-left: 10vw;

}

.leftcon h4,
h2,
h1,
p,
button {
    padding: 1vw;

}



.leftcon h1 {
    font-size: 40px;
    color: #8793c7;
}

.leftcon h2 {
    font-size: 70px;
    color: rgb(122, 102, 149);
}


.leftcon h4 {
    font-size: px;

}

.leftcon p {
    font-size: 15px;

}

.leftcon button {
    font-size: 16px;
    background: #E3E6F3;
    border-color: #ab4e9a;
    box-shadow: #8793c7;
    margin-left: 1vw;
}

.leftcon button a{
    font-size: 16px;
    background: #E3E6F3;
    border-color: #ab4e9a;
    box-shadow: #8793c7;
   
    text-decoration: none;
}
.ram {
    color: rgb(98, 59, 90);
    font-size: 44px;
}






.fe-box div img {
    /* height: 18vh;
    width: 12vw;  */
    height: 70px;
    /* width: 130px; */
    width: 100px;
}

.fe-box div h6 {

    margin: 2vw 0.5vw;
    text-align: center;
    font-style: italic;
    flex-wrap: wrap;



}

.raj {
    flex-wrap: wrap;

}

#feature {
    display: flex;

    flex-wrap: wrap;
    /* overflow-x: hidden; */
    align-items: center;
    justify-content: space-between;
    /* justify-items: center; */
    padding-left: 1vw;
    margin: 26px 50px;
}

.fe-box {
    /* margin: 6vh 2vw;  */
    margin: 15px 0;
    border-radius: 4px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);

    border: 1px solid #cce7d0;
    /* height: 24vh;
  width: 12vw; */
    */
    /*margin: auto; */

    width: 180px;
    height: 150px;


}

#feature .fe-box:nth-child(1) h6 {
    padding: 1px;
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(2) h6 {
    padding: 1px;
    background-color: #cfcbce;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #9586b9;
    padding: 1px;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdebbc;
    padding: 1px;
}

#feature .fe-box:nth-child(5) h6 {
    padding: 1px;
    background-color: #cfcbce;
}


#feature .fe-box:nth-child(6) h6 {
    padding: 1px;
    background-color: #9586b9;
}

#product1 {
    padding-left: 1vw;
    margin: 26px 50px;

}


#product1 h2,
p {

    text-align: center;
}

.pro {
    padding: 10px 12px;
    ackground-color: #955454;
    height: 400px;
    width: 247px;
    border-radius: 25px;
    margin: 20px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 h2 {
    font-size: 50px;

}

#product1 p {
    font-size: 20px;
    margin-bottom: 30px;
}


.pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.pro img {
    border-radius: 20px;
    width: 217px;
    height: 250px;
    justify-content: center;
    justify-items: center;
    padding-top:1.3vh ;
}

.img-head{
    font-size: 15px;
    margin-left: 8px;
}
.des {
    margin: 10px 2px;
    display: flex;
}


.des h5 {

    color: #1a1a1a;
    font-size: 14px;
    padding-top: 7px;

}

.des i {
    font-size: 16px;
    color: rgb(243, 181, 25);
}


/* 
.ram a i{
  color: #000;
align-items: end;
} */




.cartopt a i {
    color: #222;
    background-color: #e4e8f9;
    border-radius: 400px;
    font-size: 15px;
    padding: 10px;
    margin-top: 60px;
    height: 35px;
}

.repairService {
    height: 77vh;
    overflow-x: hidden;

    background-color: #29156b;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 6.6vh 0vw;
}

.repairService h1,
h3 {
    text-align: center;
    margin: 1vw;
    color: whitesmoke;
}

.repairService div button {

    margin: 0vh 43.5vw;
    background-color: whitesmoke;

}

.repairService div h1 {
    color: whitesmoke;
    ackground-color: blue;
    font-size: 6vw;
    /* margin-top: 1vh; */
}

.repairService div h3 center {

    font-size: 3vw;
    color: #8793c7;
    /* margin-right: 4vw; */
    margin: auto;
}

/* .btn button{
    border-radius: 10px;
   height: 8vh;
   width: 20vw;
   margin-right: 20vw;
   background-position-x: center;
} */


.btn {
    margin-right: 200vw;
}

#sm-banner {
    display: flex;
    width: 98vw;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 0 5vw; */
    padding: 0 4vw;
    /* align-items: center; */

}

.banner-box {
    padding: 3vw;
    text-align: left;
}


#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: flex-start;
    background-image: url(/image/Screenshot\ 2023-03-23\ 175407.png);
    background-color: #d5e710;
    min-width: 550px;
    /* width: 43vw; */
    height: 50vh;
    background-size: cover;
    background-position: center;
    /* margin: 30px 0; */
    margin: auto;
    margin-top: 30px;
}


#sm-banner .banner-box2 {
    background-image: ;
    background-color: #22b2a8;
}




#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}








#sm-banner h2 {
    color: #fff;
    font-size: 40px;
    margin: 2vh 2vw 2vh -1vw;
    font-weight: 800;
    text-align: left;
}




#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

.btn button {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #2a0d0d;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
    border-radius: 10px;

    margin: auto;
    /* height: 8vh;*/
    width: 15vw;
    /* margin: 0 40vw; */
}

.white {

    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}




#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: flex-start;
    /* background-image: url(/image/Screenshot\ 2023-03-23\ 175407.png); */
    background-color: gainsboro;
    min-width: 30%;
    /* width: 43vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
   /* margin: 30px 0; */
    background-size: cover;
    background-position: center;
    margin: auto;
    /* margin-top: 30px; */
    /* width: 28vw; */
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: -1vh;

}


#banner3 {
    /* width: 98.7vw;
    /* background-color: rgb(109, 52, 149); */
    display: flex;

    /* width: 50%; */
    margin: 5vw;
    margin-bottom: -1vh;
}


#banner3 h2 {

    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {

    color: #ec544e;
    font-weight: 800 #ec544e;
    font-size: 15px;
}



#newsletter {
    background-color: #041e42;
    /* margin-top: 1vh; */
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: 20% 20%;
    height: 35vh;


}

.newstext {
    text-align: left;
    width: 60vw;
}



#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-left: 16vw;
    margin-bottom: 2vh;
}



#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}


#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 1.4vw;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    margin-right: vw;

}


.form {
    display: flex;
}


.form button {

    margin-right: 8vw;
    width: 10vw;
    height: 3.125rem;
    background-color: #818ea0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.foo {

    height: 70vh;
    width: 98.7vw;

}

.foot1 {
    background-color: #22b2a8;
    margin-top: 2vh;
    margin: 1vw;
    text-align: center;
    padding: 0.5vw;
}


.footer1 {
    /* border: 2px solid rgb(19, 115, 19); */
    width: 30vw;
    height: 55vh;
    /* background-color: white; */
    font-size: 0.9vw;
    padding: 1vw;
    background: #E3E6F3;
}



/* .footer2{
    border: 2px solid green;
    width: 20vw;
    height: 13vh;
    margin-right: 30vw;
} */


.footer3 {

    width: 20vw;
    background-color: ;
    height: 55vh;
    background: #E3E6F3;
}



.add {
    margin-top: 12vh;
    margin-left: 1vw;
}

.add pre {
    width: 30vw;
    height: 55vh;
}

.footer {

    height: 55vh;
    display: flex;
    background: #E3E6F3;

}


.footer2 {
    width: 20vw;
    height: 55vh;

    background: #E3E6F3;
}

.footer4 {

    width: 30vw;
    height: 55vh;
    background-color: ;
    background: #E3E6F3;
}




.imagefoot {
    height: 3vh;
    width: 2vw;
    margin-top: 8vh;
}

.imagefoot img {

    height: 13vh;

}




.i {
    font-size: 1.1vw;

    font-weight: 500;
    color: green;
}

.list {
    padding: 1vw;
}

.list ul li {
    list-style-type: none;
    font-size: 1vw;
    margin: 0.5vw;


}

.ab,
.ac {
    margin-left: 2vw;
    margin-top: 14vh;
    font-size: 1.7vw;
    font-weight: 500;
    color: green;
}

.list ul {
    margin-top: -3vh;
    margin-left: 0.3vw;
}


.about{
   
    width: 50vw;
    margin-left: 25vw;
    margin-bottom: 20vh;

}
.about h1{
    text-align: center;
    color: rgb(101, 47, 152);
    font-size: 2.7vw;
}
.about h2{
    text-align: center;
    color: rgb(138, 60, 210);
    font-size: 1.9vw;
    
}

.about h5{
    text-align: justify;
    color: rgb(33, 21, 44);
    font-size: 1.6vw;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li {
        margin-bottom: 25px;

    }

    #navbar li a i {
        display: none;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #mobile li {
        list-style-type: none;
    }

    #navbar.raj {
        right: 0px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: block;
    }

    #raj {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;


    }

    #product1 .pro {
        margin: 15px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;

    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

}

@media(max-midth: 477px) {

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;


    }

    #banner {

        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }
     
#newsletter{
    padding: 40px 20px;
}

    #newsletter .form {
        width: 100%;
    }

    footer .copyright
}